@import"variables.css";
@import"reset.css";

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
}
nav img{
    padding-left: 1rem;
}
.fa-magnifying-glass{
    padding-right: 1rem;
}
.fa-bars{
    padding-right: 1rem;
}
.container{
    display: flex;
    justify-content: center;
    padding: 1.5rem 0;

}
.header-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 320px;
    height: 66px;
    background-color: var(--header-one-color);
    border-radius: .5rem;
}
h1{
    font-size: 32px;
    font-weight: 700;
    line-height: 32px;
}
h3{
    font-size: 24px;
    font-weight: 700;
    padding-top: 2rem;
    padding-left: 1rem;
}
h4{
    font-weight: 700;
    padding-top: .5rem;
    padding-left: 1rem;
}
p{
    font-size: 14px;
    font-weight: 500;
    line-height: 17px;
    padding-top: 4px;
    padding-left: 1rem;
}
.social{
    padding-top: .5rem;
    padding-left: 1rem;
}
.contact{
    padding-bottom: 1rem;
}

footer {
    background-color:#E6E6FA;
    color: #000000;
    padding: 1rem;
    display: grid;
    grid-template-columns: repeat(2,auto);
    grid-template-rows: auto auto;
    align-items: start;
    justify-content: space-between;
}

.left-content, .right-content {
    max-width: 300px;
}

.address-div,
.telephone-div,
.follow-us-div,
.privacy-div {
    max-width: 100%;
}

.logo-footer {
    grid-column: 1;
    grid-row: 1;
    margin-bottom: 32px;
}

.left-content {
    grid-column: 1;
    grid-row: 2;
}

.left-content span {
    display: block;
    line-height: 1.5;
}

.address-div {
    height: 120px;
    margin-bottom: 32px;
}

.telephone-div {
    height: 48px;
    margin-bottom: 32px;
}

.post {
    cursor: pointer;
}

.right-content {
    grid-column: 3;
    grid-row: 2;
}

.right-content span {
    display: block;
    line-height: 1.5;
}

.right-content .follow-us-div {
    height: 120px;
    margin-bottom: 32px;
    cursor: pointer;
}

.privacy-div {
    height: 48px;
    margin-bottom: 32px;
    cursor: pointer;
}

.terms {
    cursor: pointer;
}

.right-content i {
    font-size: 20px;
}

.span-one i {
    margin-right: 4px;
}

.span-one i:last-child {
    margin-right: 0;
}

.bottom-text {
    grid-column: span 3;
    grid-row: 3;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 32px;
    font-size: 14px;
}
/*Small screens*/
@media (min-width: 430px){
}
/*Medium screens*/
@media (min-width: 744px) {
}
/*Large screens*/
@media (min-width: 1024px){
    
}
@media (min-width: 1280px){
}
/*Xtra large screens*/
@media (min-width:1440px){

}