@import"variables.css";
@import"reset.css";

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
}
nav img{
    padding-left: 1rem;
}
.fa-magnifying-glass{
    padding-right: 1rem;
}
.fa-bars{
    padding-right: 1rem;
}
/*Small screens*/
@media (min-width: 430px){
}
/*Medium screens*/
@media (min-width: 744px) {
}
/*Large screens*/
@media (min-width: 1024px){
    
}
@media (min-width: 1280px){
}
/*Xtra large screens*/
@media (min-width:1440px){

}