*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    max-width: 1440px;
    min-height: 100vh;
    font-family: 'Montserrat', sans-serif;
    background-color: var(--background-color);
}