*{
    box-sizing: border-box;
    margin: 0;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
}
.fa-magnifying-glass{
    padding-right: 1rem;
}
.fa-bars{
    padding-right: 1rem;
}