
@import"variables.css";
@import"reset.css";

nav {
    background-color: var(--background-color);
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid;
}

nav ul {
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;

}

nav li {
    height: 50px;
}

nav a {
    height: 100%;
    padding: 0 30px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: #000000;
}

nav a:hover {
    background-color: bisque;
}

.museum-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 1rem;
}

.logo-achor {
    padding: 0;
}

.museum-logo img {
    width: 73px;
    height: 73px;
}

footer img {
    width: 73px;
}

.sidebar {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    z-index: 999;
    background-color: var(--background-color);
    backdrop-filter: blur(10px);
    box-shadow: -10px 0 -10px rgba(0, 0, 0, 0.1);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.sidebar li{
    width: 100%;
}

.sidebar a{
    width: 100%;
}

.menu-button{
    display: none;
}

.discover-container {
    display: flex;
    justify-content: center;
    padding: 1.5rem 0;
}

.discover {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 320px;
    height: 66px;
    background-color: var(--header-one-color);
    border-radius: 0.5rem;
}

.discover-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(167px, 1fr));
    gap: 20px;
    padding: 0 38px 32px 38px;
    max-width: 1280px;
    margin: 0 auto;
}

.image-container {
    display: flex;
    justify-content: center;
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

.whats-new-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(193px, 1fr));
    gap: 20px;
    padding: 32px 38px 32px 38px;
    max-width: 1280px;
    margin: 0 auto;
}

@media (min-width: 430px){
    .hide-on-mobile {
        display: none;
    }

    .sidebar {
        width: 100%;
    }

    .menu-button {
        display: flex;
    }

    nav ul {
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    .footer-desktop {
        display: none;
    }

    .whats-new-grid {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(167px, 1fr));
    }
}

@media (min-width: 500px) {
    .whats-new-grid {
        grid-template-columns: repeat(auto-fill, minmax(193px, 1fr));
    }
}

@media (min-width: 634px) {
    .discover-grid {
        grid-template-columns: repeat(auto-fill, minmax(193px, 1fr));
    }

    .footer-desktop {
        display: none;
    }
}

@media (min-width: 712px) {
    .discover-grid {
        grid-template-columns: repeat(auto-fill, minmax(138px, 1fr));
    }

    .footer-desktop {
        display: none;
    }

    .whats-new-grid {
        grid-template-columns: repeat(4, minmax(139px, 1fr));
    }
}

@media (min-width: 863px) {
    .discover-grid {
        grid-template-columns: repeat(4, 1fr);
    }

    .footer-desktop {
        display: none;
    }
}

@media (min-width: 868px) {
    .footer-desktop {
        display: none;
    }
}

@media (min-width: 900px) {
    .footer-mobile {
        display: none;
    }

    .footer-desktop {
        display: grid;
    }
}

@media (min-width: 1100px) {
    .discover-grid img {
        max-width: 280px;
    }
}

@media (min-width: 1024px) {
    .hide-on-mobile {
        display: flex;
    }

    .menu-button {
        display: none;
    }

    nav ul {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.image-container img {
    width: 100%;
    height: auto;
    display: block;
}

.news-container-two {
    display: flex;
    justify-content: center;
}

.whats-new-header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 320px;
    height: 66px;
    background-color: var(--header-two-color);
    border-radius: 0.5rem;
}

.news-content {
    display: block;
    text-align: left;
    width: 100%;
}

.whats-new-grid h6 {
    font-size: 16px;
    font-weight: 100;
    padding-top: 8px;
}

.whats-new-grid img {
    width: 100%;
    height: auto;
    display: block;
}

.news-content h3 {
    margin: 8px 0;
}

.news-article {
    padding-top: 16px;
}

.news-container {
    background-color: var(--header-one-color);
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.news-article img {
    width: 100%;
}

.news-header h2 {
    padding-top: 16px;
    font-size: 24px;
}

.news-header p {
    padding: 8px 52px 16px 52px;
    line-height: 2;
}

.button-div {
    display: flex;
    justify-content: center;
    padding-bottom: 32px;
}

.show-more {
    width: 184px;
    height: 64px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
}

footer {
    background-color:#E6E6FA;
    color: #000000;
    padding: 1rem;
    display: grid;
    grid-template-columns: repeat(2,auto);
    grid-template-rows: auto auto;
    align-items: start;
    justify-content: space-between;
}

.left-content, .right-content {
    max-width: 300px;
}

.address-div,
.telephone-div,
.follow-us-div,
.privacy-div {
    max-width: 100%;
}

.logo-footer {
    grid-column: 1;
    grid-row: 1;
    margin-bottom: 32px;
}

.left-content {
    grid-column: 1;
    grid-row: 2;
}

.left-content span {
    display: block;
    line-height: 1.5;
}

.address-div {
    height: 120px;
    margin-bottom: 32px;
}

.telephone-div {
    height: 48px;
    margin-bottom: 32px;
}

.post {
    cursor: pointer;
}

.right-content {
    grid-column: 3;
    grid-row: 2;
}

.right-content span {
    display: block;
    line-height: 1.5;
}

.right-content .follow-us-div {
    height: 120px;
    margin-bottom: 32px;
    cursor: pointer;
}

.privacy-div {
    height: 48px;
    margin-bottom: 32px;
    cursor: pointer;
}

.terms {
    cursor: pointer;
}

.right-content i {
    font-size: 20px;
}

.span-one svg {
    margin: 4px 8px 0 0;
}

.span-one i:last-child {
    margin-right: 0;
}

.bottom-text {
    grid-column: span 3;
    grid-row: 3;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 32px;
    font-size: 14px;
}

.footer-desktop {
    grid-template-columns: repeat(3,1fr);
    padding: 32px 0 16px 0;
}

.footer-desktop div {
    display: flex;
    align-items: center;
    justify-content: center;
}

.mail-div {
    border-left: 1px solid;
    border-right: 1px solid;
}

.mail-div p {
    line-height: 1.5;
}

.social-media-icons {
    grid-column: 2;
    padding-top: 32px;
    gap: 32px;
}

.footer-text {
    grid-row: 3;
    grid-column: 2;
    padding-top: 32px;
}

.footer-desktop div p {
    line-height: 1.5;
}