@import"variables.css";
@import"reset.css";

nav{
    background-color: var(--background-color);
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid;
}
nav ul{
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;

}
nav li{
    height: 50px;

}
nav a{
    height: 100%;
    padding: 0 30px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: #000000;
}
nav a:hover{
    background-color: bisque;
}
.museum-logo{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 1rem;
}
.sidebar{
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    z-index: 999;
    background-color: var(--background-color);
    backdrop-filter: blur(10px);
    box-shadow: -10px 0 -10px rgba(0, 0, 0, 0.1);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
.sidebar li{
    width: 100%;
}
.sidebar a{
    width: 100%;
}
.menu-button{
    display: none;
}
.container-h{
    display: flex;
    justify-content: center;
    padding-top: 1.5rem;
    padding-bottom: 1rem;
}
.container{
    display: flex;
    justify-content: center;
    padding-top: 1.5rem;
    padding-bottom: 1rem;
}
.header-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 320px;
    height: 66px;
    background-color: var(--header-one-color);
    border-radius: .5rem;
}
.ticket-info-one{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 370px;
    height: 476px;
    background-color: var(--header-two-color);
    border-radius: .5rem;
}
.ticket-info-two{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 370px;
    height: 476px;
    background-color: var(--header-one-color);
    border-radius: .5rem;
}
h1{
    font-size: 32px;
    font-weight: 700;
}
h3{
    font-size: 24px;
    font-weight: 700;
    padding-top: 2rem;
}
p{
    font-size: 14px;
    font-weight: 500;
    line-height: 17px;
    padding-top: 4px;
}
footer {
    background-color:#E6E6FA;
    color: #000000;
    padding: 1rem;
    display: grid;
    grid-template-columns: repeat(2,auto);
    grid-template-rows: auto auto;
    align-items: start;
    justify-content: space-between;
}

.left-content, .right-content {
    max-width: 300px;
}

.address-div,
.telephone-div,
.follow-us-div,
.privacy-div {
    max-width: 100%;
}

.logo-footer {
    grid-column: 1;
    grid-row: 1;
    margin-bottom: 32px;
}

.left-content {
    grid-column: 1;
    grid-row: 2;
}

.left-content span {
    display: block;
    line-height: 1.5;
}

.address-div {
    height: 120px;
    margin-bottom: 32px;
}

.telephone-div {
    height: 48px;
    margin-bottom: 32px;
}

.post {
    cursor: pointer;
}

.right-content {
    grid-column: 3;
    grid-row: 2;
}

.right-content span {
    display: block;
    line-height: 1.5;
}

.right-content .follow-us-div {
    height: 120px;
    margin-bottom: 32px;
    cursor: pointer;
}

.privacy-div {
    height: 48px;
    margin-bottom: 32px;
    cursor: pointer;
}

.terms {
    cursor: pointer;
}

.right-content i {
    font-size: 20px;
}

.span-one i {
    margin-right: 4px;
}

.span-one i:last-child {
    margin-right: 0;
}

.bottom-text {
    grid-column: span 3;
    grid-row: 3;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 32px;
    font-size: 14px;
}
/*Small screens*/
@media (min-width: 430px){
    .hide-on-mobile{
        display: none;
    }
    .sidebar{
        width: 100%;
    }
    .menu-button{
        display: flex;
    }
    nav ul{
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
}
/*Medium screens*/
@media (min-width: 744px) {
    .media-container{
        display: flex;
        justify-content: space-around;
    }
    .container{
        width: 100%;
    }
    .header-container{
        width: 488px;
        height: 89px;
    }
    h1{
        font-size: 40px;
        font-weight: 700;
    }
    h3{
        font-size: 24px;
        font-weight: 700;
        padding-top: 2rem;
        line-height: 29px;
    }
    p{
        font-size: 14px;
        font-weight: 500;
        line-height: 17px;
        padding-top: 16px;
    }
    .ticket-info-two{
        width: 347px;
        height: 586px;
    }
    .ticket-info-one{
        width: 347px;
        height: 586px;
    } 
    
}
/*Large screens*/
@media (min-width: 1024px){
.hide-on-mobile{
    display: flex;
}
.menu-button{
    display: none;
}
nav ul{
    display: flex;
    justify-content: center;
    align-items: center;
}
}
@media (min-width: 1280px){
}
/*Xtra large screens*/
@media (min-width:1440px){
.header-container{
    width: 640px;
    height: 132px;
    background-color: var(--header-two-color);
}
h1{
    font-size: 48px;
    font-weight: 700;
}
h3{
    font-size: 32px;
    font-weight: 700;
    padding-top: 2rem;
    line-height: 39px;
}
p{
    font-size: 24px;
    font-weight: 500;
    line-height: 29px;
    padding-top: 16px;
}
.ticket-info-two{
    width: 530px;
    height: 888px;
}
.ticket-info-one{
    width: 530px;
    height: 888px;
} 

.container{
    width: 100%;
}
}